
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
# build/
profiles/
native
hotupdate-data/
extensions/generate-loc-scene/node_modules/
extensions/shortcut-encrypt-data/node_modules/
extensions/shortcut-encrypt-data/@types/
extensions/generate-loc-scene/@types/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
/library
/library
.DS_Store
/.creator
/profiles
